{% extends 'base1.html.twig' %}
{% block accueil %}
    {{ 'class=" "' }}
{% endblock %}
{% block titre_page_li %}
    Réservation
{% endblock %}
{% block titre_page_h1 %}
    Gestion des réservations
{% endblock %}
{% block contenus %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Liste des demandes de réservation
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
            <div class="panel-body">
                <div class="">
                    <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive" id="liste_reservation">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nom du client</th>
                                <th>Nom du bien</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td><a href="">En savoir plus</a></d>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td><a href="">En savoir plus</a></d>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.row-->
{% endblock %}